.a-cleanup{
    color: inherit;
}

.a-cleanup:hover {
    text-decoration: none;
    color: inherit;
}

.card-img-custom{
    width: 100%;
    height: 31vw;
    object-fit: cover;
}

.store-card{
    transition: all 0.2s ease;
}

.store-card:hover{
    transform: scale(1.03);
    box-shadow: lightgray 2px 5px 5px 5px 2px;
}

.store-btn {
    transition: all 0.2s ease;
}

.store-btn1 {
    background-color: darkslategrey;
    border: 1px solid darkslategrey;
}

.store-btn:hover {
    background-color: darkslategrey;
    border: 1px solid darkslategrey;
}

.custom-float-right {
    float: right;
    margin-left: 10px;
}

.quantity-btn {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    color: lightslategray;
}

.quantity-value {
    margin: 0 10px;
    font-size: 16px;
}

.quantity-btn:hover {
    background-color: #e0e0e0;
}

.button-container {
    margin-bottom: 10px; 
}

input[type=number]:: -webkit-inner-spin-button,
input[type=number]:: -webkit-outer-spin-button {
    -webkit-appearance:none;
    margin:0;
}